filenames:
  - /var/log/auth.log
labels:
  type: syslog
---
filenames:
  - /var/log/syslog
  - /var/log/kern.log
labels:
  type: syslog
---
filenames:
  - {{ server_appdata_path }}/traefik/*.log
labels:
  type: traefik
---
