[Unit]
Description=NVIDIA Persistence Daemon
Wants=syslog.target

[Service]
Type=forking
{% if nvidia_docker_enable_nvidia_ctk %}
ExecStartPre=/usr/bin/nvidia-ctk system create-dev-char-symlinks --create-all
{% else %}
ExecStart=/usr/bin/nvidia-persistenced
ExecStopPost=/bin/rm -rf /var/run/nvidia-persistenced

[Install]
WantedBy=multi-user.target
