<?php

$diskUpdateInterval = 10;     // in seconds
$notifySpaceLimit = 512;      // in Mb
$partitionDirectory = '{{ rutorrent_config_diskspace_path }}'; // set this to the absolute path for checked partition. 