<?php

$diskUpdateInterval = 10;     // in seconds
$notifySpaceLimit = 512;      // in Mb
$partitionDirectory = '{{ lookup('role_var', '_config_diskspace_path', role='rutorrent') }}'; // set this to the absolute path for checked partition. 