### MacOS ###
.DS_Store

### Python ###
*.pyc
*.py[cod]
*$py.class
/__pycache__/
/library/__pycache__/
/scripts/__pycache__/
/lookup_plugins/__pycache__/
/filter_plugins/__pycache__/

### Ansible ###
/backup.lock
/ansible_facts.d/saltbox.fact
/.ansible/*

# Vars
/inventories/host_vars/*
!/inventories/host_vars/.gitkeep
/roles/*/vars/*

# Cache
/cache.json

# Settings
/accounts.yml
/adv_settings.yml
/backup_config.yml
/backup_excludes_list.txt
/hetzner_vlan.yml
/hetzner_nfs.yml
/localhost.yml
/providers.yml
/rclone.conf
/settings.yml
/motd.yml
/announcements-empty.yml

### Misc ###
/.idea
/*.log
/*.log.*
.vscode/
.claude/
