---
database:
  maxagehours: 72
pvr:
{% for instance in sonarr_instances if sonarr_info[sonarr_instances[0]]['api_key'] != "not installed" %}
  - name: "{{ instance }}"
    url: "{{ sonarr_info[instance]['url'] }}"
    apikey: "{{ sonarr_info[instance]['api_key'] }}"
    enabled: true
    filters:
      accepts:
        - TrackerName == "BTN"
      ignores:
        - TorrentName contains "HEVC"
        - TorrentName contains "x265"
        - TorrentName contains "[HorribleSubs]"
        - any (Files, {% raw -%}{#{%- endraw %} matches "(?i)\\.(bdmv|mpls|miniso|cci|cer|clpi|m2ts|VOB|IFO|BUP|iso|rar|r01)$"})
      delays:
        - 'not (TorrentName contains "1080") ? 15 : 0'
{% endfor %}
{% for instance in radarr_instances if radarr_info[radarr_instances[0]]['api_key'] != "not installed" %}
  - name: "{{ instance }}"
    url: "{{ radarr_info[instance]['url'] }}"
    apikey: "{{ radarr_info[instance]['api_key'] }}"
    enabled: true
    filters:
      accepts:
        - Category contains "Movie"
      ignores:
        - Category contains "XXX"
        - Category contains "Disk"
        - Category contains "DVD-R"
        - TrackerName == "IPT" && TorrentName contains "COMPLETE"
        - TorrentName contains "3D"
        - TorrentName contains "HEVC" && not (TorrentName contains "2160")
        - TorrentName contains "x265" && not (TorrentName contains "2160")
        - any (Files, {% raw -%}{#{%- endraw %} matches "(?i)\\.(bdmv|mpls|miniso|cci|cer|clpi|m2ts|VOB|IFO|BUP|iso|rar|r01)$"})
{% endfor %}
server:
  apikey: "{{ trackarr_server_apikey }}"
  host: 0.0.0.0
  pass: "{{ user.pass }}"
  port: "{{ trackarr_web_port }}"
  publicurl: "{{ trackarr_web_url }}"
  user: {{ user.name }}
trackers:
  iptorrents:
    bencode:
      name: false
      size: true
    enabled: false
    irc:
      channels:
        - '#ipt.announce'
      nickname: YOUR_USER|autodl
      verbose: false
    settings:
      passkey: YOUR-IPTORRENTS-PASSKEY
