#########################################################################
# Title:         Saltbox: Docker | Default Variables                    #
# Author(s):     desimaniac                                             #
# URL:           https://github.com/saltyorg/Saltbox                    #
# --                                                                    #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################
---
################################
# Settings
################################

# Format is ["8.8.8.8", "8.8.4.4"]
docker_dns: []

# YAML Dictionary that gets combined with the defaults and later converted to json
# Example of how to remove an option:
# docker_config_custom:
#   log-opts: "{{ omit }}"
# Example of how to add options:
# docker_config_custom:
#   debug: "true"
docker_config_custom: {}

# CPU and Memory defaults
docker_cpus_default: ""
docker_memory_default: ""

# Skip Container startup during core, saltbox, mediabox or feederbox
# If the kernel has been updated and a reboot will happen
docker_skip_start_during_meta_tag: "{{ saltbox_auto_reboot }}"

# Toggles pruning of dangling images after container creation.
docker_create_image_prune: true
docker_create_image_prune_delay: true
docker_create_image_prune_delay_timeout: 10

################################
# Lookup
################################

docker_start_containers_check: "{{ true if (('docker' in ansible_run_tags) or (not docker_skip_start_during_meta_tag)) else (not docker_reboot_required_file.stat.exists) }}"

################################
# Docker APT Key
################################

docker_apt_key_id: 0EBFCD88
docker_apt_key_url: https://download.docker.com/linux/ubuntu/gpg

################################
# Docker APT Repository
################################

docker_apt_repo_version: stable
docker_apt_repo_url: "deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/{{ ansible_facts['distribution'] | lower }} {{ ansible_facts['distribution_release'] | lower }} {{ docker_apt_repo_version }}"  # noqa line-length
docker_apt_repo_filename: docker

################################
# Docker APT Package
################################

# Version
# Supported formats:
#   "28"      - Major version (installs latest 28.x.x, auto-updates within 28.x)
#   "28.5"    - Major.minor version (installs latest 28.5.x, auto-updates within 28.5.x)
#   "28.5.2"  - Exact version (installs exactly 28.5.2, no auto-updates)
docker_version: "28"

# Docker CE
docker_ce_name: "Docker CE"
docker_ce_package: "docker-ce={{ docker_ce_resolved_version | default('') }}"
docker_ce_filepath: "/usr/bin/dockerd"
docker_ce_dpkg: "docker-ce"

# Docker CE CLI
docker_ce_cli_name: "Docker CE CLI"
docker_ce_cli_package: "docker-ce-cli={{ docker_ce_cli_resolved_version | default('') }}"
docker_ce_cli_filepath: "/usr/bin/docker"
docker_ce_cli_dpkg: "docker-ce-cli"

# Containerd
containerd_io_name: "Containerd"
containerd_io_package: "containerd.io"
containerd_io_filepath: "/usr/bin/containerd"
containerd_io_dpkg: "containerd.io"

# Docker Compose
compose_cli_name: "Docker Compose"
compose_cli_package: "docker-compose-plugin"
compose_cli_filepath: "docker compose"
compose_cli_dpkg: "docker-compose-plugin"

# Docker Rootless Extras
docker_rootless_name: "Docker Rootless Extras"
docker_rootless_package: "docker-ce-rootless-extras"
docker_rootless_filepath: "/usr/bin/rootlesskit"
docker_rootless_dpkg: "docker-ce-rootless-extras"

# Misc
docker_package_state: "present"
put_docker_dpkg_into_hold: true
docker_filesystem_path: "/media/docker-volume.img"
docker_filesystem_size: "20G"
docker_ipv6: "{{ dns_ipv6_enabled }}"

# Service
docker_service_after: "{{ mergerfs_service_name }}"
docker_service_sleep: "{{ 0
                       if continuous_integration or (not use_remote)
                       else 120 }}"
docker_service_force: true
docker_service_check: "{{ docker_binary.stat.exists and (docker_service_running or ((remote_docker_service_running is defined) and remote_docker_service_running) or ((unionfs_docker_service_running is defined) and unionfs_docker_service_running)) }}"
docker_service_check_mounts: "{{ docker_binary.stat.exists and (((remote_docker_service_running is defined) and remote_docker_service_running) or ((unionfs_docker_service_running is defined) and unionfs_docker_service_running)) }}"
docker_update_hosts_service_runtime_max: "3600s"
docker_daemon_storage_driver: "{{ ('zfs' in var_lib_file_system.stdout) | ternary('zfs', 'overlay2') }}"
docker_daemon_template_force: true

################################
# Docker Compose
################################

compose_cleanup_switch: "{{ compose_install_switch | default(true) }}"

################################
# Docker Controller
################################

docker_controller_binary_path: "/usr/local/bin/sdc"

docker_controller_releases_url: "{{ svm }}https://api.github.com/repos/saltyorg/sdc/releases/latest"

docker_controller_releases_download_url: https://github.com/saltyorg/sdc/releases/download

docker_controller_release_lookup_command: |
  curl -s {{ docker_controller_releases_url }} \
    | jq -r ".assets[] | select(.name == \"sdc_linux_amd64\") \
    | .browser_download_url"

# Legacy
docker_controller_venv_path: "/srv/docker-controller/venv"

################################
# Docker DNS
################################

docker_dns_binary_path: "/usr/local/bin/sdhm"

docker_dns_releases_url: "{{ svm }}https://api.github.com/repos/saltyorg/sdhm/releases/latest"

docker_dns_releases_download_url: https://github.com/saltyorg/sdhm/releases/download

docker_dns_release_lookup_command: |
  curl -s {{ docker_dns_releases_url }} \
    | jq -r ".assets[] | select(.name == \"sdhm_linux_amd64\") \
    | .browser_download_url"

docker_dns_ports_8090: "{{ port_lookup_8090.meta.port
                        if (port_lookup_8090.meta.port is defined) and (port_lookup_8090.meta.port | trim | length > 0)
                        else '8090' }}"

docker_dns_networks:
  - "saltbox"

docker_dns_periodic_validation: "5m"
