#########################################################################
# Title:         Saltbox: Nvidia | Docker Tasks                         #
# Author(s):     desimaniac, l3uddz                                     #
# URL:           https://github.com/saltyorg/Saltbox                    #
# --                                                                    #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################
---
- name: Docker | Remove old repository list
  ansible.builtin.file:
    path: "{{ nvidia_docker_runtime_apt_repo_file_old }}"
    state: absent

- name: Docker | Add 'nvidia-container-toolkit' APT Repo Key
  ansible.builtin.get_url:
    url: "{{ nvidia_docker_runtime_apt_key_url }}"
    dest: /etc/apt/trusted.gpg.d/nvidia.asc
    mode: "0644"
    force: true
  register: result
  retries: "{{ ansible_retry_count if (not continuous_integration) else ansible_retry_count_ci }}"
  delay: 10
  until: result is succeeded

- name: Docker | Add 'nvidia-container-toolkit' APT list
  ansible.builtin.apt_repository:
    repo: "{{ item }}"
    filename: "{{ nvidia_docker_runtime_apt_repo_file }}"
    state: present
    mode: "0644"
    update_cache: true
  loop: "{{ lookup('ansible.builtin.url', nvidia_docker_runtime_apt_repo_list_url, wantlist=True) | regex_replace('^deb https', 'deb [signed-by=/etc/apt/trusted.gpg.d/nvidia.asc] https') }}"
  when: not item.startswith('#')

- name: Docker | Remove 'nvidia-container-runtime'
  ansible.builtin.apt:
    name: "nvidia-container-runtime"
    state: absent

- name: Docker | Remove 'nvidia-container-toolkit'
  ansible.builtin.apt:
    name: "nvidia-container-toolkit"
    state: absent

- name: Docker | Install 'nvidia-container-toolkit'
  ansible.builtin.apt:
    name: "nvidia-container-toolkit"
    update_cache: true
    state: present

- name: Docker | Populate Service Facts
  ansible.builtin.service_facts:

- name: Docker | Get Docker service state
  ansible.builtin.set_fact:
    docker_service_running: "{{ (services['docker.service'] is defined) and (services['docker.service']['state'] == 'running') }}"

- name: Docker | Gather list of running Docker containers
  ansible.builtin.shell: "docker ps --format '{{ '{{' }} .Names{{ '}}' }}' | xargs echo -n"
  register: docker_running_containers
  ignore_errors: true
  when: docker_service_running

- name: Docker | Stop Saltbox Containers
  ansible.builtin.uri:
    url: "{{ docker_controller_url }}/stop"
    method: POST
    timeout: 600
  ignore_errors: true
  when: docker_service_running and (docker_running_containers.stdout | trim | length > 0)

- name: Docker | Stop all running Docker containers
  ansible.builtin.shell: "docker stop {{ docker_running_containers.stdout }}"
  ignore_errors: true
  when: docker_service_running and (docker_running_containers.stdout | trim | length > 0)

- name: Docker | Block Docker Controller
  ansible.builtin.uri:
    url: "{{ docker_controller_url }}/block/20"
    method: POST
    timeout: 600
  ignore_errors: true
  when: docker_service_running and (docker_running_containers.stdout | trim | length > 0)

- name: Docker | Stop docker service
  ansible.builtin.systemd_service:
    name: docker
    state: stopped
  when: docker_service_running

- name: Docker | Import 'nvidia-persistenced.service'
  ansible.builtin.template:
    src: "/srv/git/saltbox/roles/docker/templates/nvidia-persistenced.service.j2"
    dest: /etc/systemd/system/nvidia-persistenced.service
    mode: "0644"
    force: true

- name: Docker | Run systemd daemon-reload
  ansible.builtin.systemd_service:
    daemon_reload: true

- name: Docker | Start nvidia-persistenced service
  ansible.builtin.systemd_service:
    name: nvidia-persistenced.service
    state: started
    enabled: true

- name: Docker | Check if '/usr/bin/nvidia-ctk' exists
  ansible.builtin.stat:
    path: "/usr/bin/nvidia-ctk"
  register: nvidia_ctk

- name: "Docker | Import override file"
  ansible.builtin.template:
    src: "/srv/git/saltbox/roles/docker/templates/override.conf.j2"
    dest: "/etc/systemd/system/docker.service.d/override.conf"
    mode: "0644"
    force: "{{ docker_service_force }}"

# https://github.com/linkernetworks/vortex-installer/blob/master/roles/common/tasks/nvidia-docker.yml
- name: Docker | Add runtime to '/etc/docker/daemon.json'
  ansible.builtin.shell: "{{ nvidia_docker_runtime_docker_daemon_json_jq_command }}"

- name: Docker | Start docker service
  ansible.builtin.systemd_service:
    name: docker
    state: started
  when: docker_service_running

- name: Docker | Docker Service Running
  when: docker_service_running and (docker_running_containers.stdout | trim | length > 0)
  block:
    - name: Docker | Unblock Docker Controller
      ansible.builtin.uri:
        url: "{{ docker_controller_url }}/unblock"
        method: POST
        timeout: 600
      ignore_errors: true

    - name: "Docker | Initialize Gluetun variable"
      ansible.builtin.set_fact:
        docker_containers_gluetun: []

    - name: "Docker | Identify any Gluetun containers"
      ansible.builtin.set_fact:
        docker_containers_gluetun: "{{ docker_containers_gluetun + [item] }}"
      loop: "{{ docker_running_containers.stdout.split() }}"
      when: item in (gluetun_instances | default(['gluetun']))

    - name: "Docker | Re-start all previously running Gluetun containers"
      ansible.builtin.shell: "docker start {{ docker_containers_gluetun | join(' ') }}"
      when: (docker_containers_gluetun | length > 0)
      ignore_errors: true

    - name: "Docker | Wait for {{ docker_network_container_health_delay }} seconds"
      ansible.builtin.wait_for:
        timeout: "{{ docker_network_container_health_delay }}"

    - name: Docker | Start Saltbox Containers
      ansible.builtin.uri:
        url: "{{ docker_controller_url }}/start"
        method: POST
        timeout: 600
      ignore_errors: true

    - name: "Docker | Re-start all previously running Docker containers"
      ansible.builtin.shell: 'docker start {{ docker_running_containers.stdout }}'
      ignore_errors: true
