# /etc/systemd/system/saltbox_managed_docker_controller_helper.service
#########################################################################
# Title:         Saltbox: Docker Controller Helper                      #
# Author(s):     salty                                                  #
# URL:           https://github.com/saltyorg/Saltbox                    #
# --                                                                    #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################
[Unit]
Description=Saltbox Docker Controller Helper
Requires=docker.service
After=docker.service
PartOf=docker.service

[Service]
Type=simple
ExecStart=/srv/git/saltbox/scripts/saltbox_docker_controller_helper.sh
ExecStop=/bin/kill $MAINPID
TimeoutStartSec=360
TimeoutStopSec=360

[Install]
WantedBy=multi-user.target