# /etc/systemd/system/saltbox_managed_docker_update_hosts.service
#########################################################################
# Title:         Saltbox: Docker Host DNS Resolution                    #
# Author(s):     salty                                                  #
# URL:           https://github.com/saltyorg/Saltbox                    #
# --                                                                    #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################

[Unit]
Description=Saltbox Docker Hosts DNS Resolution Helper
BindsTo=docker.service
After=docker.service

[Service]
ExecStart=/usr/bin/python3.10 /srv/git/saltbox/roles/docker/files/docker-update-hosts.py {{ docker_update_hosts_service_runtime_max }}

[Install]
WantedBy=multi-user.target
