# /etc/systemd/system/saltbox_managed_docker_update_hosts.service
#########################################################################
# Title:         Saltbox: Docker Host DNS Resolution                    #
# Author(s):     salty                                                  #
# URL:           https://github.com/saltyorg/Saltbox                    #
# --                                                                    #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################

[Unit]
Description=Saltbox Docker Hosts Manager
After=docker.service
BindsTo=docker.service

[Service]
Type=simple
ExecStart={{ docker_dns_binary_path }} --networks {{ docker_dns_networks | join(',') }} --interval {{ docker_dns_periodic_validation }} --health-port {{ docker_dns_ports_8090 }}
Restart=always
RestartSec=10

[Install]
WantedBy=docker.service
