# /etc/systemd/system/docker.service.d/override.conf
#########################################################################
# Title:         Saltbox: Docker Config Override                        #
# Author(s):     l3uddz, desimaniac, salty                              #
# URL:           https://github.com/saltyorg/Saltbox                    #
# --                                                                    #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################

[Unit]
{% if rclone_remote_is_defined and use_remote and not continuous_integration %}
After={{ _remotes_services_list | default('') }}{{ docker_service_after }}
Requires={{ _remotes_services_list | default('') }}{{ docker_service_after }}
{% else %}
After={{ docker_service_after }}
Requires={{ docker_service_after }}
{% endif %}

[Service]
ExecStartPre=/bin/sleep {{ docker_service_sleep }}
