#########################################################################
# Title:         Saltbox: Notify | Apprise                              #
# Author(s):     desimaniac                                             #
# URL:           https://github.com/saltyorg/Saltbox                    #
# --                                                                    #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################
---
- name: Apprise | Install 'apprise' pip module
  pip:
    name: apprise
    state: present
    executable: pip3

- name: Apprise | Send Notification
  shell: apprise -b '{{ message }}' '{{ apprise }}'
  become: true
  become_user: "{{ user.name }}"
  ignore_errors: true
