#########################################################################
# Title:         Saltbox: MOTD Role                                     #
# Author(s):     salty                                                  #
# URL:           https://github.com/saltyorg/Saltbox                    #
# --                                                                    #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################
---
- name: Generate Config tasks
  when: ('motd-generate-config' in ansible_run_tags)
  block:
    - name: Get Instance Info
      ansible.builtin.include_tasks: "{{ resources_tasks_path }}/instances/get_info.yml"
      vars:
        get_info_list:
          - plex
          - sonarr
          - radarr
          - lidarr
          - nzbget
          - sabnzbd

    - name: Build emby_info dict
      ansible.builtin.include_tasks: subtasks/emby_info.yml
      vars:
        emby_name: "{{ item }}"
      loop: "{{ emby_instances | default(['emby']) }}"

    - name: Build jellyfin_info dict
      ansible.builtin.include_tasks: subtasks/jellyfin_info.yml
      vars:
        jellyfin_name: "{{ item }}"
      loop: "{{ jellyfin_instances | default(['jellyfin']) }}"

    - name: Build qbittorrent_info dict
      ansible.builtin.include_tasks: subtasks/qbittorrent_info.yml
      vars:
        qbittorrent_name: "{{ item }}"
      loop: "{{ qbittorrent_instances | default(['qbittorrent']) }}"

    - name: Import 'motd.yml' template
      ansible.builtin.template:
        src: "motd.yml.j2"
        dest: "/srv/git/saltbox/motd.yml"
        owner: "{{ user.name }}"
        group: "{{ user.name }}"
        mode: "0664"
        force: true

- name: Import '01-motd' template
  ansible.builtin.template:
    src: "01-motd.j2"
    dest: "/etc/update-motd.d/01-motd"
    owner: "{{ user.name }}"
    group: "{{ user.name }}"
    mode: "0755"
    force: true
