#########################################################################
# Title:         Saltbox: System | APT Tasks                            #
# Author(s):     l3uddz, desimaniac, salty                              #
# URL:           https://github.com/saltyorg/Saltbox                    #
# --                                                                    #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################
---
- name: APT | Set env variables
  ansible.builtin.set_fact:
    env_vars:
      DEBIAN_FRONTEND: noninteractive
      DEBIAN_PRIORITY: critical

- name: Gather the package facts
  ansible.builtin.package_facts:
    manager: apt

- name: APT | Import 'saltbox.conf'
  ansible.builtin.copy:
    src: saltbox.conf
    dest: "/etc/needrestart/conf.d/saltbox.conf"
    mode: "0644"
    force: true
  when: ('needrestart' in ansible_facts.packages) and (ansible_distribution_version is version('22.04', '=='))

- name: APT | Fix any potential dpkg issues
  block:
    - name: APT | Run 'dpkg --configure --pending'
      ansible.builtin.shell: dpkg --configure --pending

  rescue:
    - name: APT | Reinstall python3-debian
      ansible.builtin.shell: apt-get --reinstall install python3-debian

    - name: APT | Run 'dpkg --configure --pending' Again
      ansible.builtin.shell: dpkg --configure --pending

- name: APT | Kill existing apt and apt-get
  ansible.builtin.shell: "killall apt apt-get >/dev/null 2>&1 || :"
  ignore_errors: true

- name: APT | Fix any potential apt issues
  ansible.builtin.shell: apt-get install --fix-broken --quiet --yes
  environment: "{{ env_vars }}"
  ignore_errors: true

- name: APT | Install required packages
  ansible.builtin.apt:
    state: present
    name:
      - apt-utils
      - byobu

- name: APT | APT update
  ansible.builtin.apt:
    update_cache: true
  ignore_errors: true

# https://serverfault.com/a/839563
# https://raymii.org/s/tutorials/Silent-automatic-apt-get-upgrade.html
- name: APT | APT full-upgrade
  ansible.builtin.shell: apt-get full-upgrade --quiet --yes --allow-unauthenticated -o Dpkg::Options::="--force-confdef" -o Dpkg::Options::="--force-confold"
  environment: "{{ env_vars }}"
  when: (not continuous_integration)
  ignore_errors: true

- name: APT | Remove useless packages from the cache
  ansible.builtin.apt:
    autoclean: true
  ignore_errors: true

- name: APT | Remove dependencies that are no longer required
  ansible.builtin.apt:
    autoremove: true
  ignore_errors: true
