#########################################################################
# Title:         Saltbox: System | Release Upgrade Tasks                #
# Author(s):     salty                                                  #
# URL:           https://github.com/saltyorg/Saltbox                    #
# --                                                                    #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################
---
- name: Release Upgrade | Get current release-upgrades prompt setting
  ansible.builtin.command: grep "^Prompt=" /etc/update-manager/release-upgrades
  register: previous_prompt
  changed_when: false
  ignore_errors: true

- name: Release Upgrade | Display previous setting
  ansible.builtin.debug:
    msg: "Previous upgrade prompt setting: {{ previous_prompt.stdout | default('Not configured') }}"

- name: Release Upgrade | Ensure update-manager-core is installed
  ansible.builtin.apt:
    name: update-manager-core
    state: present

- name: Release Upgrade | Configure release-upgrades to never prompt for dist upgrades
  ansible.builtin.lineinfile:
    path: /etc/update-manager/release-upgrades
    regexp: '^Prompt='
    line: 'Prompt=never'
    state: present

- name: Release Upgrade | Verify configuration change
  ansible.builtin.command: grep "^Prompt=" /etc/update-manager/release-upgrades
  register: new_prompt
  changed_when: false

- name: Release Upgrade | Display new setting
  ansible.builtin.debug:
    msg: "New upgrade prompt setting: {{ new_prompt.stdout }}"
