#########################################################################
# Title:         Saltbox: System | Time Zone Tasks                      #
# Author(s):     desimaniac, salty                                      #
# URL:           https://github.com/saltyorg/Saltbox                    #
# --                                                                    #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################
# https://github.com/galexrt/ansible-timezone/blob/master/tasks/timedatectl.yml
---
- name: Get timedatectl information
  ansible.builtin.command: timedatectl
  register: timedatectl

- name: Get timezone list
  ansible.builtin.command: timedatectl list-timezones --no-pager
  register: timezone_list
  changed_when: false

- name: Time Zone | Fetch Time Zone if set to 'auto'
  when:
    - (system is defined)
    - (system.timezone is defined)
    - ('auto' in system.timezone | lower)
  block:
    - name: Get IP geolocation data
      community.general.ipinfoio_facts:

    - name: Time Zone | Set 'timezone' variable from 'ipinfoio_facts'
      ansible.builtin.set_fact:
        timezone: "{{ ansible_facts.timezone }}"
        timezone_string: "Time zone: {{ timezone }}"

- name: Check if timezone is valid
  ansible.builtin.fail:
    msg: "Invalid timezone given, given timezone was {{ timezone }}\"."
  when: (timezone_list.stdout is defined) and timezone not in timezone_list.stdout

- name: Set timezone
  ansible.builtin.shell: "timedatectl set-timezone {{ timezone }}; timedatectl"
  register: timedatectl_utc
  changed_when: "(timedatectl_utc.stdout is defined) and (timezone_string in timedatectl_utc.stdout)"
  when: (timedatectl.stdout is defined) and (timezone_string not in timedatectl.stdout)

- name: Set hardware clock to use or not use local RTC
  ansible.builtin.shell: "timedatectl set-local-rtc {% if timezone_use_local_rtc %}1{% else %}0{% endif %} && timedatectl || true"
  register: timedatectl_rtc
  changed_when: "(timedatectl_rtc.stdout is defined) and ('RTC in local TZ: {% if timezone_use_local_rtc %}yes{% else %}no{% endif %}' in timedatectl_rtc.stdout)"
  when: "(timedatectl_rtc.stdout is defined) and timezone_use_local_rtc and ('RTC in local TZ: no' not in timedatectl_rtc.stdout)"
