# /etc/systemd/system/{{ traktarr_name }}.service

[Unit]
Description={{ traktarr_name }}
After=network-online.target docker.service

[Service]
User={{ user.name }}
Group={{ user.name }}
Type=simple
Environment=LC_ALL=C.UTF-8
Environment=LANG=C.UTF-8
WorkingDirectory=/opt/{{ traktarr_name }}/
TimeoutStartSec=900
ExecStart={{ traktarr_bin_folder }}/python3 /opt/{{ traktarr_name }}/traktarr.py run
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
