#########################################################################
# Title:         Saltbox: Docker | Controller Tasks                     #
# Author(s):     salty                                                  #
# URL:           https://github.com/saltyorg/Saltbox                    #
# --                                                                    #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################
---
- name: Controller | Delete venv folder
  ansible.builtin.file:
    path: "{{ docker_controller_venv_path }}"
    state: absent

- name: Controller | Get URL for latest sdc release
  ansible.builtin.shell: "{{ docker_controller_release_lookup_command }}"
  args:
    executable: /bin/bash
  register: docker_controller_download_url

- name: Controller | Download sdc
  ansible.builtin.get_url:
    url: "{{ docker_controller_download_url.stdout }}"
    dest: "{{ docker_controller_binary_path }}"
    owner: "root"
    group: "root"
    mode: "0755"
  register: x
  until: "x is not failed"
  retries: "{{ ansible_retry_count
            if (not continuous_integration)
            else ansible_retry_count_ci }}"
  delay: 10

- name: Controller | Get sdc binary version
  ansible.builtin.shell: "{{ docker_controller_binary_path }} --version | awk '{ print $3 }'"
  register: sdc_binary_version
  changed_when: false

- name: Controller | Display sdc binary version
  ansible.builtin.debug:
    msg: "sdc {{ sdc_binary_version.stdout }} installed."

- name: Controller | Import 'saltbox_managed_docker_controller.service'
  ansible.builtin.template:
    src: docker-controller.service.j2
    dest: /etc/systemd/system/saltbox_managed_docker_controller.service
    mode: "0644"
    force: true

- name: Controller | Enable 'saltbox_managed_docker_controller.service'
  ansible.builtin.include_tasks: "{{ resources_tasks_path }}/systemd/manage_service.yml"
  vars:
    _service_name: saltbox_managed_docker_controller
    _service_enabled: true
    _service_state: restarted
    _service_daemon_reload: true
    _service_reenable: true

- name: Controller | Wait until Controller is ready
  ansible.builtin.uri:
    url: "{{ docker_controller_url }}/ping"
    method: GET
    return_content: true
    status_code: 200
  register: result
  retries: 120
  delay: 1

- name: Controller | Block Docker Controller
  ansible.builtin.uri:
    url: "{{ docker_controller_url }}/block/20"
    method: POST
    timeout: 600

- name: Controller | Import 'saltbox_managed_docker_controller_helper.service'
  ansible.builtin.template:
    src: docker-controller-helper.service.j2
    dest: /etc/systemd/system/saltbox_managed_docker_controller_helper.service
    mode: "0644"
    force: true

- name: Controller | Enable 'saltbox_managed_docker_controller_helper.service'
  ansible.builtin.include_tasks: "{{ resources_tasks_path }}/systemd/manage_service.yml"
  vars:
    _service_name: saltbox_managed_docker_controller_helper.service
    _service_enabled: true
    _service_state: restarted
    _service_daemon_reload: true
    _service_reenable: true

- name: "Controller | Wait for 10 seconds before commencing"
  ansible.builtin.wait_for:
    timeout: "10"
