---
###############################################################
#                   Authelia configuration                    #
###############################################################

jwt_secret: {{ lookup('password', '/dev/null chars=ascii_letters,digits length=32') }}

# Options are light, dark, grey or auto
theme: auto

server:
  host: 0.0.0.0
  port: 9091
  path: ""
  buffers:
    read: 10485760
    write: 10485760
  enable_pprof: false
  enable_expvars: false
  disable_healthcheck: false
  headers:
    csp_template: "frame-ancestors 'self' *.{{ user.domain }} {{ user.domain }}; default-src 'self'; object-src 'none'; style-src 'self' 'nonce-${NONCE}'"

log:
  level: info
  format: text
  file_path: "/config/authelia.log"
  keep_stdout: false

totp:
  issuer: authelia.com
  period: 30
  skew: 1

#
# If you want to use Duo Push notifications
#
# duo_api:
#   hostname: api-123456789.example.com
#   integration_key: ABCDEF
#   secret_key: 1234567890abcdefghifjkl
#
# Read more at https://www.authelia.com/docs/configuration/duo-push-notifications.html
#

authentication_backend:
  file:
    path: /config/users_database.yml
    password:
      algorithm: argon2id
      iterations: 1
      salt_length: 16
      parallelism: 8
      memory: 64

#
# Read more at https://www.authelia.com/docs/configuration/access-control.html
#
access_control:
  default_policy: deny
  rules:
    - domain:
        - "{{ '*.' + user.domain }}"
        - "{{ user.domain }}"
      policy: one_factor

session:
  name: "{{ authelia_web_subdomain + '.' + authelia_web_domain }}"
  secret: {{ lookup('password', '/dev/null chars=ascii_letters,digits length=32') }}
  expiration: 1h
  inactivity: 5m
  remember_me_duration: 1M
  same_site: lax
  domain: {{ user.domain }}
  redis:
    host: redis
    port: 6379

regulation:
  max_retries: 3
  find_time: 2m
  ban_time: 5m

storage:
  encryption_key: {{ lookup('password', '/dev/null chars=ascii_letters,digits length=64') }}
  local:
    path: /config/db.sqlite3

ntp:
  address: "time.cloudflare.com:123"
  version: 3
  max_desync: 3s
  disable_startup_check: false
  disable_failure: false

notifier:
  disable_startup_check: false
  filesystem:
    filename: /config/notification.txt

#
# If you want to use email here is a template (Replace the above entry as you can only have one notifier configured)
#
# notifier:
#   disable_startup_check: false
#   smtp:
#     host: 127.0.0.1
#     port: 1025
#     timeout: 5s
#     username: test
#     password: password
#     sender: admin@example.com
#     identifier: localhost
#     subject: "[Authelia] {title}"
#     startup_check_address: test@authelia.com
#     disable_require_tls: false
#     disable_html_emails: false
#     tls:
#       server_name: smtp.example.com
#       skip_verify: false
#       minimum_version: TLS1.2
#
# Read more at https://www.authelia.com/docs/configuration/notifier/smtp.html
#
...