---
###############################################################
#                   Authelia configuration                    #
###############################################################

identity_validation:
  reset_password:
    jwt_secret: {{ lookup('role_var', '_jwt_secret') }}

# Options are light, dark, grey or auto
theme: {{ lookup('role_var', '_theme') }}

{% if lookup('role_var', '_default_redirection_url') | length > 0 %}
default_redirection_url: {{ lookup('role_var', '_default_redirection_url') }}

{% endif %}
default_2fa_method: "{{ lookup('role_var', '_default_2fa_method') }}"

server:
  address: {{ lookup('role_var', '_server_address') }}
  buffers:
    read: {{ lookup('role_var', '_server_buffers_read') }}
    write: {{ lookup('role_var', '_server_buffers_write') }}
  disable_healthcheck: {{ lookup('role_var', '_server_disable_healthcheck') }}
  headers:
    csp_template: "{{ lookup('role_var', '_server_headers_csp_template') }}"
  endpoints:
    enable_pprof: {{ lookup('role_var', '_server_enable_pprof') }}
    enable_expvars: {{ lookup('role_var', '_server_enable_expvars') }}

log:
  level: {{ lookup('role_var', '_log_level') }}
  format: {{ lookup('role_var', '_log_format') }}
  file_path: {{ lookup('role_var', '_log_file_path') }}
  keep_stdout: {{ lookup('role_var', '_log_keep_stdout') }}

totp:
  issuer: {{ lookup('role_var', '_totp_issuer') }}
  period: {{ lookup('role_var', '_totp_period') }}
  skew: {{ lookup('role_var', '_totp_skew') }}
  digits: {{ lookup('role_var', '_totp_digits') }}
  secret_size: {{ lookup('role_var', '_totp_secret_size') }}

{% if lookup('role_var', '_duo_enabled') | bool %}
duo_api:
  disable: false
  hostname: {{ lookup('role_var', '_duo_hostname') }}
  integration_key: {{ lookup('role_var', '_duo_integration_key') }}
  secret_key: {{ lookup('role_var', '_duo_secret_key') }}
  enable_self_enrollment: {{ lookup('role_var', '_duo_self_enrollment') }}
{% else %}
#
# If you want to use Duo Push notifications
#
# duo_api:
#   hostname: api-123456789.example.com
#   integration_key: ABCDEF
#   secret_key: 1234567890abcdefghifjkl
#
# Read more at https://www.authelia.com/docs/configuration/duo-push-notifications.html
#
{% endif %}

webauthn:
  disable: {{ lookup('role_var', '_webauthn_disable') }}
  display_name: {{ lookup('role_var', '_webauthn_display_name') }}
  attestation_conveyance_preference: {{ lookup('role_var', '_webauthn_attestation_conveyance_preference') }}
  user_verification: {{ lookup('role_var', '_webauthn_user_verification') }}
  timeout: {{ lookup('role_var', '_webauthn_timeout') }}

authentication_backend:
  password_reset:
    disable: {{ lookup('role_var', '_authentication_backend_password_reset_disable') }}
    custom_url: "{{ lookup('role_var', '_authentication_backend_password_reset_custom_url') }}"
  refresh_interval: {{ lookup('role_var', '_authentication_backend_refresh_interval') }}
{% if lookup('role_var', '_authentication_backend') == 'file' %}
  file:
    path: {{ lookup('role_var', '_authentication_backend_file_path') }}
    watch: {{ lookup('role_var', '_authentication_backend_file_watch') }}
    password:
      algorithm: {{ lookup('role_var', '_authentication_backend_file_password_algorithm') }}
      argon2:
        variant: {{ lookup('role_var', '_authentication_backend_file_password_argon2_variant') }}
        iterations: {{ lookup('role_var', '_authentication_backend_file_password_argon2_iterations') }}
        memory: {{ lookup('role_var', '_authentication_backend_file_password_argon2_memory') }}
        parallelism: {{ lookup('role_var', '_authentication_backend_file_password_argon2_parallelism') }}
        key_length: {{ lookup('role_var', '_authentication_backend_file_password_argon2_key_length') }}
        salt_length: {{ lookup('role_var', '_authentication_backend_file_password_argon2_salt_length') }}
{% endif %}
{% if lookup('role_var', '_authentication_backend') == 'ldap' %}
  ldap:
    implementation: custom
    address: ldap://lldap:3890
    start_tls: false
    tls:
      skip_verify: true
      minimum_version: TLS1.2
    base_dn: dc={{ authelia_domain.stdout }},dc={{ authelia_tld.stdout }}
    additional_users_dn: ou=people
    users_filter: "(&({username_attribute}={input})(objectClass=person))"
    additional_groups_dn: ou=groups
    groups_filter: "(member={dn})"
    user: uid={{ user.name }},ou=people,dc={{ authelia_domain.stdout }},dc={{ authelia_tld.stdout }}
    password: {{ user.pass }}
    attributes:
      group_name: cn
      display_name: displayName
      mail: mail

{% endif %}

password_policy:
  standard:
    enabled: {{ lookup('role_var', '_password_policy_standard_enabled') }}
    min_length: {{ lookup('role_var', '_password_policy_standard_min_length') }}
    max_length: {{ lookup('role_var', '_password_policy_standard_max_length') }}
    require_uppercase: {{ lookup('role_var', '_password_policy_standard_require_uppercase') }}
    require_lowercase: {{ lookup('role_var', '_password_policy_standard_require_lowercase') }}
    require_number: {{ lookup('role_var', '_password_policy_standard_require_number') }}
    require_special: {{ lookup('role_var', '_password_policy_standard_require_special') }}
  zxcvbn:
    enabled: {{ lookup('role_var', '_password_policy_zxcvbn_enabled') }}
    min_score: {{ lookup('role_var', '_password_policy_zxcvbn_min_score') }}

access_control:
  default_policy: {{ lookup('role_var', '_access_control_default_policy') }}
  rules:
    {{ (lookup('role_var', '_access_control_whitelist_rules_lookup') + lookup('role_var', '_access_control_rules')) | to_nice_yaml | indent(4) }}

session:
  name: {{ (lookup('role_var', '_web_subdomain') + '.' + lookup('role_var', '_web_domain')) | lower }}
  secret: {{ lookup('password', '/dev/null', chars=['ascii_letters', 'digits'], length=32) }}
  expiration: 1h
  inactivity: 5m
  remember_me: 1M
  same_site: lax
  redis:
    host: authelia-redis
    port: 6379
  cookies:
    - domain: {{ lookup('role_var', '_web_domain') | lower }}
      authelia_url: {{ lookup('role_var', '_web_url') | lower }}
      name: authelia_{{ lookup('role_var', '_web_domain') | lower }}
      same_site: lax
      inactivity: 5m
      expiration: 1h
      remember_me: 1M

regulation:
  max_retries: 3
  find_time: 2m
  ban_time: 5m

storage:
  encryption_key: {{ lookup('password', '/dev/null', chars=['ascii_letters', 'digits'], length=64) }}
  local:
    path: /config/db.sqlite3

ntp:
  address: "{{ lookup('role_var', '_ntp_address') }}"
  version: {{ lookup('role_var', '_ntp_version') }}
  max_desync: {{ lookup('role_var', '_ntp_max_desync') }}
  disable_startup_check: {{ lookup('role_var', '_ntp_disable_startup_check') }}
  disable_failure: {{ lookup('role_var', '_ntp_disable_failure') }}

notifier:
  disable_startup_check: {{ lookup('role_var', '_notifier_disable_startup_check') }}
{% if lookup('role_var', '_notifier') == 'filesystem' %}
  filesystem:
    filename: /config/notification.txt
{% endif %}
{% if lookup('role_var', '_notifier') == 'smtp' %}
  smtp:
    host: {{ lookup('role_var', '_notifier_smtp_host') }}
    port: {{ lookup('role_var', '_notifier_smtp_port') }}
    timeout: {{ (lookup('role_var', '_notifier_smtp_timeout')) | default(omit) }}
    username: {{ (lookup('role_var', '_notifier_smtp_username')) | default(omit) }}
    password: {{ (lookup('role_var', '_notifier_smtp_password')) | default(omit) }}
    sender: {{ lookup('role_var', '_notifier_smtp_sender') }}
    identifier: {{ (lookup('role_var', '_notifier_smtp_identifier')) | default(omit) }}
    subject: "{{ (lookup('role_var', '_notifier_smtp_subject')) | default(omit) }}"
    startup_check_address: {{ (lookup('role_var', '_notifier_smtp_startup_check_address')) | default(omit) }}
    disable_require_tls: {{ (lookup('role_var', '_notifier_smtp_disable_require_tls')) | default(omit) }}
    disable_html_emails: {{ (lookup('role_var', '_notifier_smtp_disable_html_emails')) | default(omit) }}
    tls:
      server_name: {{ (lookup('role_var', '_notifier_smtp_tls_server_name')) | default(omit) }}
      skip_verify: {{ (lookup('role_var', '_notifier_smtp_tls_skip_verify')) | default(omit) }}
      minimum_version: {{ (lookup('role_var', '_notifier_smtp_tls_minimum_version')) | default(omit) }}
{% else %}
#
# If you want to use email here is a template (Replace the above entry as you can only have one notifier configured)
#
# notifier:
#   disable_startup_check: false
#   smtp:
#     host: 127.0.0.1
#     port: 1025
#     timeout: 5s
#     username: test
#     password: password
#     sender: admin@example.com
#     identifier: localhost
#     subject: "[Authelia] {title}"
#     startup_check_address: test@authelia.com
#     disable_require_tls: false
#     disable_html_emails: false
#     tls:
#       server_name: smtp.example.com
#       skip_verify: false
#       minimum_version: TLS1.2
#
# Read more at https://www.authelia.com/docs/configuration/notifier/smtp.html
#
{% endif %}

telemetry:
  metrics:
    enabled: false
    address: "tcp://0.0.0.0:9959"
    buffers:
      read: 4096
      write: 4096
    timeouts:
      read: 6s
      write: 6s
      idle: 30s

...