#########################################################################
# Title:         Saltbox: MariaDB Post-Migration                        #
# Author(s):     owine, salty                                           #
# URL:           https://github.com/saltyorg/Saltbox                    #
# --                                                                    #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################
---
- name: Check for 'dump.sql'
  ansible.builtin.stat:
    path: "/opt/mariadb_legacy/dump.sql"
  register: dump

- name: Import databases
  when: subfolder.stat.exists and dump.stat.exists
  block:
    - name: Wait for 15 seconds
      ansible.builtin.wait_for:
        timeout: 15

    - name: Restore data from dump file
      ansible.builtin.shell: |
        docker exec -i mariadb sh -c 'exec mariadb -uroot -p"$MARIADB_ROOT_PASSWORD"' < /opt/mariadb_legacy/dump.sql

    - name: Force MariaDB upgrade
      ansible.builtin.shell: |
        docker exec mariadb sh -c 'exec mariadb-upgrade --force -uroot -p"$MARIADB_ROOT_PASSWORD"'
