# /etc/systemd/system/{{ _service_file }}
#########################################################################
# Title:         Saltbox: Rclone VFS Mount                              #
# Author(s):     salty                                                  #
# URL:           https://github.com/saltyorg/Saltbox                    #
# --                                                                    #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################

[Unit]
Description=Rclone VFS Mount
After=network-online.target

[Service]
User={{ user.name }}
Group={{ user.name }}
Type=notify
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/rclone mount \
    --allow-other \
{% if mounts.ipv4_only %}
    --bind={{ ansible_default_ipv4.address }} \
{% endif %}
{% if (rclone_vfs_cache_dir | length > 0) and item.cache.enabled %}
    --cache-dir={{ rclone_vfs_cache_dir }} \
{% endif %}
    --config={{ rclone_config_path }} \
    --buffer-size=32M \
    --dir-cache-time=5000h \
    --disable-http2 \
    --poll-interval=30s \
    --rc \
    --rc-no-auth \
    --rc-addr=localhost:{{ item.port }} \
    --syslog \
    --tpslimit 12 \
    --tpslimit-burst 0 \
    --timeout=10m \
    --umask=002 \
    --use-mmap \
    --user-agent='{{ user_agent }}' \
{% if item.cache.enabled %}
    --vfs-cache-max-age={{ item.cache.max_age | default('504h') }} \
    --vfs-cache-max-size={{ item.cache.size | default('50G') }} \
    --vfs-cache-mode=full \
    --vfs-cache-poll-interval=30s \
    --vfs-read-ahead=128M \
{% endif %}
    --vfs-read-chunk-size-limit=2G \
    --vfs-read-chunk-size={{ '32M' if item.cache.enabled else '64M' }} \
    -v \
    {{ item.remote }}:{{ lookup('vars', (item.remote | replace('-', '_') | lower) + '_folder', default="") }} /mnt/remote/{{ item.remote }}
ExecStartPost=/usr/bin/rclone rc vfs/refresh recursive=true --url http://localhost:{{ item.port }}{{ ' _async=true' if rclone_async_refresh else '' }}
ExecStop=/bin/fusermount3 -uz /mnt/remote/{{ item.remote }}
Restart=on-abort
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3
{% if item.cache.enabled %}
TimeoutSec=21600
LimitNOFILE=infinity
LimitMEMLOCK=infinity
{% endif %}

[Install]
WantedBy=default.target