# /etc/systemd/system/{{ _service_file }}
#########################################################################
# Title:         Saltbox: Rclone VFS Mount                              #
# Author(s):     EnorMOZ, salty                                         #
# URL:           https://github.com/saltyorg/Saltbox                    #
# --                                                                    #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################

[Unit]
Description=Rclone VFS Mount
After=network-online.target

[Service]
User={{ user.name }}
Group={{ user.name }}
Type=notify
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/rclone mount \
    --allow-other \
{% if mounts.ipv4_only %}
    --bind={{ ansible_default_ipv4.address }} \
{% endif %}
{% if (rclone_vfs_cache_dir_lookup | length > 0) and item.vfs_cache.enabled %}
    --cache-dir={{ rclone_vfs_cache_dir_lookup }} \
{% endif %}
    --config={{ rclone_config_path }} \
    --buffer-size={{ '32M' if item.vfs_cache.enabled else '64M' }} \
    --dir-cache-time={{ rclone_cloud_dir_cache_time }} \
{% if not item.vfs_cache.enabled %}
    --drive-chunk-size=64M \
{% endif %}
    --drive-pacer-burst=1000 \
    --drive-pacer-min-sleep=10ms \
    --drive-skip-gdocs \
    --poll-interval=15s \
    --rc \
    --rc-no-auth \
    --rc-addr=localhost:{{ rclone_remort_port }} \
    --syslog \
    --timeout=10m \
    --umask=002 \
    --use-mmap \
    --user-agent='{{ user_agent }}' \
{% if item.vfs_cache.enabled %}
    --vfs-cache-min-free-space={{ rclone_vfs_cache_min_free_space }} \
    --vfs-cache-max-age={{ item.vfs_cache.max_age | default('504h') }} \
    --vfs-cache-max-size={{ item.vfs_cache.size | default('50G') }} \
    --vfs-cache-mode=full \
    --vfs-cache-poll-interval={{ rclone_vfs_cache_poll_interval }} \
    --vfs-fast-fingerprint \
    --vfs-read-ahead=128M \
{% endif %}
    --vfs-read-chunk-size-limit=2G \
    --vfs-read-chunk-size={{ '32M' if item.vfs_cache.enabled else '64M' }} \
    -v \
    "{{ rclone_remote_with_path }}" "/mnt/remote/{{ rclone_remote_name }}"
ExecStop=/bin/fusermount3 -uz "/mnt/remote/{{ rclone_remote_name }}"
Restart=on-abort
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3
{% if item.vfs_cache.enabled %}
TimeoutSec=21600
LimitNOFILE=infinity
LimitMEMLOCK=infinity
{% endif %}

[Install]
WantedBy=default.target