# /etc/systemd/system/{{ _service_file }}
#########################################################################
# Title:         Saltbox: Rclone SFTP Mount                             #
# Author(s):     salty                                                  #
# URL:           https://github.com/saltyorg/Saltbox                    #
# --                                                                    #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################

[Unit]
Description=Rclone SFTP Mount
After=network-online.target

[Service]
User={{ user.name }}
Group={{ user.name }}
Type=notify
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/rclone mount \
    --allow-other \
    --config={{ rclone_config_path }} \
    --copy-links \
    --dir-cache-time=1m \
    --max-read-ahead=200M \
    --rc \
    --rc-addr=localhost:{{ item.port }} \
    --rc-no-auth \
    --syslog \
    --umask=002 \
    --user-agent='{{ user_agent }}' \
{% if item.cache.enabled %}
    --vfs-cache-max-age={{ item.cache.max_age | default('504h') }} \
    --vfs-cache-max-size={{ item.cache.size | default('50G') }} \
    --vfs-cache-mode=full \
    --vfs-cache-poll-interval=30s \
{% endif %}
    -v \
    {{ item.remote }}:{{ '/mnt/local' if item.remote == 'feeder' else '' }} /mnt/remote/{{ item.remote }}
ExecStartPost=/usr/bin/rclone rc vfs/refresh recursive=true --url http://localhost:{{ item.port }} _async=true
ExecStop=/bin/fusermount -uz /mnt/remote/{{ item.remote }}
Restart=on-abort
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=default.target