#########################################################################
# Title:         Saltbox: DNS | Cloudflare                              #
# Author(s):     desimaniac, salty                                      #
# URL:           https://github.com/saltyorg/Saltbox                    #
# --                                                                    #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################
---
- name: Cloudflare | Cleanup legacy folders
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - "/srv/cloudflare"
    - "/srv/cloudflare-helper"

- name: Set IP variables
  ansible.builtin.set_fact:
    ipv4_address_public_template: "{{ lookup('vars', ansible_parent_role_names | first + '_dns_ipv4', default=lookup('vars', ansible_parent_role_names | first + '_role_dns_ipv4', default=ip_address_public)) }}"
    ipv6_address_public_template: "{{ lookup('vars', ansible_parent_role_names | first + '_dns_ipv4', default=lookup('vars', ansible_parent_role_names | first + '_role_dns_ipv6', default=ipv6_address_public)) }}"

- name: Cloudflare | Tailscale block
  when: traefik_tailscale_enabled and lookup('vars', ansible_parent_role_names | first + '_traefik_tailscale_enabled', default=lookup('vars', ansible_parent_role_names | first + '_role_traefik_tailscale_enabled', default=false))
  block:
    - name: Get Tailscale IPs
      ansible.builtin.shell: "tailscale ip"
      register: dns_tailscale_ips
      failed_when: (dns_tailscale_ips.rc != 0)

    - name: Set Tailscale variables
      ansible.builtin.set_fact:
        dns_tailscale_ipv4: "{{ dns_tailscale_ips.stdout_lines[0] }}"
        dns_tailscale_ipv6: "{{ dns_tailscale_ips.stdout_lines[1] }}"

- name: Cloudflare | Add DNS Record
  ansible.builtin.include_tasks: "subtasks/add_dns_record.yml"
  when: (dns_action != 'remove')

- name: Cloudflare | Remove DNS Record
  ansible.builtin.include_tasks: "subtasks/remove_dns_record.yml"
  when: (dns_action == 'remove')
