{
  "core": {
    "dry_run": false,
    "rclone_binary_path": "{{ rclone_binary_path }}",
    "rclone_config_path": "{{ rclone_config_path }}"
  },
  "hidden": {},
  "notifications": {},
  "nzbget": {
    "enabled": false,
    "url": "{{ nzbget_web_local_url_web_login }}"
  },
  "plex": {
    "enabled": false,
    "ignore_local_streams": true,
    "max_streams_before_throttle": 1,
    "notifications": false,
    "poll_interval": 60,
    "rclone": {
      "throttle_speeds": {
        "0": "1000M",
        "1": "50M",
        "2": "40M",
        "3": "30M",
        "4": "20M",
        "5": "10M"
      },
      "url": "http://localhost:7949"
    },
    "token": "{{ plex_auth_token | default('') }}",
    "url": "{{ plex_web_url }}"
  },
  "remotes": {
{% for remote in cloudplow_remotes %}
    "{{ remote.remote.split(':')[0] if ':' in remote.remote else remote.remote }}": {
      "hidden_remote": "",
      "rclone_command": "move",
      "rclone_excludes": [
        "**partial~",
        "**_HIDDEN~",
        "*.db"
      ],
      "rclone_extras": {
        {{ lookup('vars', 'cloudplow_rclone_' + remote.template + '_template', default=cloudplow_rclone_google_template) | indent(width=8, first=false) }}
      },
      "rclone_sleeps": {
        "Failed to copy: googleapi: Error 403: User rate limit exceeded": {
          "count": 10,
          "sleep": 25,
          "timeout": 7200
        },
        " 0/s,": {
          "count": 16,
          "sleep": 25,
          "timeout": 62
        }
      },
      "remove_empty_dir_depth": 2,
      "sync_remote": "{{ (remote.remote if ':' in remote.remote else remote.remote
                          + ':' + lookup('vars', 'cloudplow_remote_' + (remote.remote.split(':')[0] if ':' in remote.remote else remote.remote) + '_folder', default=cloudplow_remote_default_folder))
                          if (remote.template != 'nfs')
                          else ('/mnt/remote/' + remote.remote.split(':')[0] if ':' in remote.remote else remote.remote)
                          + lookup('vars', 'cloudplow_remote_' + (remote.remote.split(':')[0] if ':' in remote.remote else remote.remote) + '_folder', default=cloudplow_remote_default_folder) }}",
      "upload_folder": "{{ remote.upload_from }}",
      "upload_remote": "{{ (remote.remote if ':' in remote.remote else remote.remote
                            + ':' + lookup('vars', 'cloudplow_remote_' + (remote.remote.split(':')[0] if ':' in remote.remote else remote.remote) + '_folder', default=cloudplow_remote_default_folder))
                            if (remote.template != 'nfs')
                            else ('/mnt/remote/' + remote.remote.split(':')[0] if ':' in remote.remote else remote.remote)
                            + lookup('vars', 'cloudplow_remote_' + (remote.remote.split(':')[0] if ':' in remote.remote else remote.remote) + '_folder', default=cloudplow_remote_default_folder) }}"
    {% if loop.index == loop.length %}}{% else %}},{{ '\n' }}{% endif %}
{% endfor %}

  },
  "sabnzbd": {
    "apikey": "{{ sabnzbd_apikey | default('') }}",
    "enabled": false,
    "url": "{{ sabnzbd_web_local_url }}"
  },
  "syncer": {},
  "uploader": {
{% for remote in cloudplow_remotes %}
    "{{ remote.remote.split(':')[0] if ':' in remote.remote else remote.remote }}": {
      "check_interval": 30,
      "exclude_open_files": false,
      "max_size_gb": 200,
      "opened_excludes": [
        "/downloads/"
      ],
      "service_account_path": "",
      "size_excludes": [
        "downloads/*"
      ]
    {% if loop.index == loop.length %}}{% else %}},{{ '\n' }}{% endif %}
{% endfor %}

  }
}
