#########################################################################
# Title:         Saltbox: yyq Role                                      #
# Author(s):     desimaniac, salty                                      #
# URL:           https://github.com/saltyorg/Saltbox                    #
# --                                                                    #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################
---
- name: "Check to see if yyq is installed"
  ansible.builtin.stat:
    path: "/usr/local/bin/yyq"
  register: yyq_binary

- name: "Get yyq version"
  ansible.builtin.shell: "/usr/local/bin/yyq --version"
  register: yyq_version_settings_check
  ignore_errors: true
  when: yyq_binary.stat.exists

- name: "Set yyq version"
  ansible.builtin.set_fact:
    yyq_current_version: "{{ yyq_version_settings_check.stdout | regex_findall('(?<=version )v?\\d+\\.\\d+\\.\\d+') | map('regex_replace', '^v', '') | first
                          if yyq_version_settings_check.stdout is defined
                          else '0.0.0' }}"

- name: "Print current yyq version"
  ansible.builtin.debug:
    msg: "{{ yyq_current_version }}"

- name: "Install yyq"
  when: (yyq_current_version is version(yyq_install_version, 'lt', version_type='semver')) or (not yyq_binary.stat.exists)
  block:
    - name: Install common packages
      ansible.builtin.apt:
        state: present
        name:
          - curl
          - jq

    - name: Install yyq
      ansible.builtin.get_url:
        url: "https://github.com/mikefarah/yq/releases/download/v{{ yyq_install_version }}/yq_linux_amd64"
        dest: /usr/local/bin/yyq
        mode: "0775"
        owner: root
        group: root
        force: true
        validate_certs: false
      ignore_errors: true
      register: x
      until: "x is not failed"
      retries: 5
      delay: 10

    - name: "Get yyq version"
      ansible.builtin.shell: "/usr/local/bin/yyq --version"
      register: yyq_version
      ignore_errors: true
      when: (x is success)

    - name: "Display yyq version"
      ansible.builtin.debug:
        msg: "yyq {{ yyq_version.stdout | regex_findall('(?<=version )v?\\d+\\.\\d+\\.\\d+') | map('regex_replace', '^v', '') | first }} installed."
      when: (x is success)
