http:
  routers:
    {{ qbittorrent_name }}-http:
      entryPoints:
        - "web"
      rule: "{{ traefik_host_template }}"
      middlewares:
        {{ traefik_default_middleware_http.split(',') | to_nice_yaml | trim | indent(8) }}
      service: "{{ qbittorrent_name }}"

    {{ qbittorrent_name }}:
      entryPoints:
        - "websecure"
      rule: "{{ traefik_host_template }}"
      middlewares:
        {{ traefik_middleware.split(',') | to_nice_yaml | trim | indent(8) }}
      service: "{{ qbittorrent_name }}"
      tls:
        options: securetls@file
        certResolver: {{ lookup('role_var', '_traefik_certresolver', role='qbittorrent') }}
{% if lookup('role_var', '_traefik_api_enabled', role='qbittorrent') %}

    {{ qbittorrent_name }}-api-http:
      entryPoints:
        - "web"
      rule: "{{ traefik_host_template + ' && (' + lookup('role_var', '_traefik_api_endpoint', role='qbittorrent') }})"
      middlewares:
        {{ traefik_default_middleware_http_api.split(',') | to_nice_yaml | trim | indent(8) }}
      service: "{{ qbittorrent_name }}"

    {{ qbittorrent_name }}-api:
      entryPoints:
        - "websecure"
      rule: "{{ traefik_host_template + ' && (' + lookup('role_var', '_traefik_api_endpoint', role='qbittorrent') }})"
      middlewares:
        {{ traefik_default_middleware_api.split(',') | to_nice_yaml | trim | indent(8) }}
      service: "{{ qbittorrent_name }}"
      tls:
        options: securetls@file
        certResolver: {{ lookup('role_var', '_traefik_certresolver', role='qbittorrent') }}
{% endif %}

  services:
    {{ qbittorrent_name }}:
      loadBalancer:
        servers:
          - url: "http://172.19.0.1:{{ lookup('role_var', '_docker_ports_8080', role='qbittorrent') }}"
{% if lookup('role_var', '_themepark_enabled', role='qbittorrent') and global_themepark_plugin_enabled %}

  middlewares:
    themepark-{{ qbittorrent_name }}:
      plugin:
        themepark:
          app: "{{ qbittorrent_role_themepark_app }}"
          theme: "{{ lookup('role_var', '_themepark_theme', role='qbittorrent') }}"
{% if lookup('role_var', '_themepark_addons', role='qbittorrent') | length > 0 %}
          addons: "{{ lookup('role_var', '_themepark_addons', role='qbittorrent') }}"
{% endif %}
{% endif %}
