# /etc/systemd/system/{{ qbittorrent_name }}.service
#########################################################################
# Title:         Saltbox: qBittorrent                                   #
# Author(s):     salty                                                  #
# URL:           https://github.com/saltyorg/Saltbox                    #
# --                                                                    #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################

[Unit]
Description={{ qbittorrent_name }}
{% set service_after = lookup('role_var', '_service_after', role='qbittorrent') %}
{% if service_after | length > 0 %}
After={{ service_after }}
{% endif %}
{% set service_requires = lookup('role_var', '_service_requires', role='qbittorrent') %}
{% if service_requires | length > 0 %}
Requires={{ service_requires }}
{% endif %}
{% set service_wants = lookup('role_var', '_service_wants', role='qbittorrent') %}
{% if service_wants | length > 0 %}
Wants={{ service_wants }}
{% endif %}
{% set service_partof = lookup('role_var', '_service_partof', role='qbittorrent') %}
{% if service_partof | length > 0 %}
PartOf={{ service_partof }}
{% endif %}
StartLimitIntervalSec=500s
StartLimitBurst=5

[Service]
User={{ user.name }}
Group={{ user.name }}
Type=exec
Environment="XDG_CONFIG_HOME={{ lookup('role_var', '_paths_location', role='qbittorrent') }}" "XDG_DATA_HOME={{ lookup('role_var', '_paths_location', role='qbittorrent') }}" "HOME={{ lookup('role_var', '_paths_location', role='qbittorrent') }}"
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/{{ qbittorrent_name }}-nox --webui-port={{ lookup('role_var', '_docker_ports_8080', role='qbittorrent') }}
AmbientCapabilities=CAP_NET_RAW
TimeoutStopSec=1800
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target