# /etc/systemd/system/{{ qbittorrent_name }}.service
#########################################################################
# Title:         Saltbox: qBittorrent                                   #
# Author(s):     salty                                                  #
# URL:           https://github.com/saltyorg/Saltbox                    #
# --                                                                    #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################

[Unit]
Description={{ qbittorrent_name }}
After=network-online.target docker.service
Requires=network-online.target docker.service
StartLimitIntervalSec=500s
StartLimitBurst=5

[Service]
User={{ user.name }}
Group={{ user.name }}
Type=exec
Environment="XDG_CONFIG_HOME={{ lookup('role_var', '_paths_location', role='qbittorrent') }}" "XDG_DATA_HOME={{ lookup('role_var', '_paths_location', role='qbittorrent') }}" "HOME={{ lookup('role_var', '_paths_location', role='qbittorrent') }}"
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/{{ qbittorrent_name }}-nox --webui-port={{ lookup('role_var', '_docker_ports_8080', role='qbittorrent') }}
AmbientCapabilities=CAP_NET_RAW
TimeoutStopSec=1800
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target