#########################################################################
# Title:         Saltbox: Traefik | ZeroSSL Task                        #
# Author(s):     salty                                                  #
# URL:           https://github.com/saltyorg/Saltbox                    #
# --                                                                    #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################
---
- name: "Display ZeroSSL status"
  ansible.builtin.debug:
    msg: "ZeroSSL setting is {{ 'enabled' if zerossl_is_enabled else 'disabled' }}"

- name: Get new credentials
  ansible.builtin.uri:
    url: https://api.zerossl.com/acme/eab-credentials-email
    method: POST
    body:
      email: "{{ user.email }}"
    body_format: form-urlencoded
    return_content: true
  register: zerossl
  ignore_errors: true

- name: "Set ZeroSSL variables"
  ansible.builtin.set_fact:
    traefik_zerossl_kid: "{{ zerossl.json.eab_kid }}"
    traefik_zerossl_hmacencoded: "{{ zerossl.json.eab_hmac_key }}"
  when: (zerossl.status == 200) and zerossl.json.success

- name: "Fail when unable to get new credentials"
  ansible.builtin.fail:
    msg: Failed to retrieve ZeroSSL credentials.
  when: ((zerossl.status != 200) or (not zerossl.json.success)) and zerossl_is_enabled

- name: "Print failure when unable to get new credentials"
  ansible.builtin.debug:
    msg: Failed to retrieve ZeroSSL credentials.
  when: ((zerossl.status != 200) or (not zerossl.json.success)) and not zerossl_is_enabled
