# /etc/systemd/system/{{ mergerfs_service_name }}
#########################################################################
# Title:         Saltbox: MergerFS Mount                                #
# Author(s):     EnorMOZ, desimaniac, salty                             #
# URL:           https://github.com/saltyorg/Saltbox                    #
# --                                                                    #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################

[Unit]
Description=MergerFS Mount
After={{ mergerfs_mount_service_after }}

[Service]
Type=forking
GuessMainPID=no
ExecStart={{ mergerfs_mount_start_command }}
ExecStop={{ mergerfs_mount_stop_command }}

[Install]
WantedBy=default.target
