# /etc/systemd/system/docker.service.d/override.conf
#########################################################################
# Title:         Saltbox: Docker Config Override                        #
# Author(s):     l3uddz, desimaniac                                     #
# URL:           https://github.com/saltyorg/Saltbox                    #
# --                                                                    #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################

[Unit]
{% if use_remote %}
After={{ docker_service_after }}{{ ' rclone_vfs.service' if rclone_remote_is_defined else '' }}{{ ' feeder.service' if feeder_mount_is_enabled else '' }}
Requires={{ docker_service_after }}{{ ' rclone_vfs.service' if rclone_remote_is_defined else '' }}{{ ' feeder.service' if feeder_mount_is_enabled else '' }}
{% else %}
After={{ docker_service_after }}
Requires={{ docker_service_after }}
{% endif %}
