tls:
  options:
    securetls:
      minVersion: VersionTLS12
      sniStrict : true
      cipherSuites:
        - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305
        - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305

http:
  middlewares:
    globalHeaders:
      headers:
        hostsProxyHeaders:
          - "X-Forwarded-Host"
        customResponseHeaders:
          X-Robots-Tag: "{{ traefik_x_robots }}"
          server: ""
          x-xss-protection: ""
        frameDeny: false
        contentTypeNosniff: true
    secureHeaders:
      headers:
        sslProxyHeaders:
          X-Forwarded-Proto: https
    dropsecurityheaders:
      headers:
        accessControlAllowCredentials: "true"
        accessControlAllowHeaders: "*"
        accessControlAllowMethods: "*"
        accessControlAllowOriginList: "*"
        accessControlExposeHeaders: "*"
        accessControlMaxAge: "100000"
        customresponseheaders:
          content-security-policy: ""
          permissions-policy: ""
          referrer-policy: ""
          x-frame-options: ""
          cross-origin-opener-policy: ""
    hsts:
      headers:
        stsSeconds: 63072000
        stsIncludeSubdomains: true
        stsPreload: true
        forceSTSHeader: true
  serversTransports:
    skipverify:
      insecureSkipVerify: true

log:
  noColor: true
  maxSize: {{ traefik_log_max_size }}
  maxBackups: "{{ traefik_log_max_backups }}"
  maxAge: "{{ traefik_log_max_age }}"
  compress: "{{ traefik_log_compress }}"
