http:
  middlewares:
    themepark-overseerr:
      plugin:
        themepark:
          app: overseerr
          theme: {{ overseerr_themepark_theme | default (global_themepark_theme) }}
    themepark-nzbhydra2:
      plugin:
        themepark:
          app: nzbhydra2
          theme: {{ nzbhydra2_themepark_theme | default (global_themepark_theme) }}
    themepark-plex:
      plugin:
        themepark:
          app: plex
          theme: {{ plex_themepark_theme | default (global_themepark_theme) }}
    themepark-portainer:
      plugin:
        themepark:
          app: portainer
          theme: {{ portainer_themepark_theme | default (global_themepark_theme) }}
    themepark-netdata:
      plugin:
        themepark:
          app: netdata
          theme: {{ netdata_themepark_theme | default (global_themepark_theme) }}
    themepark-guacamole:
      plugin:
        themepark:
          app: guacamole
          theme: {{ guacamole_themepark_theme | default (global_themepark_theme) }}
    themepark-requestrr:
      plugin:
        themepark:
          app: requestrr
          theme: {{ requestrr_themepark_theme | default (global_themepark_theme) }}
    themepark-adguard:
      plugin:
        themepark:
          app: adguard
          theme: {{ adguard_themepark_theme | default (global_themepark_theme) }}
    themepark-gaps:
      plugin:
        themepark:
          app: gaps
          theme: {{ gaps_themepark_theme | default (global_themepark_theme) }}
    themepark-vaultwarden:
      plugin:
        themepark:
          app: vaultwarden
          theme: {{ vaultwarden_themepark_theme | default (global_themepark_theme) }}
    themepark-kitana:
      plugin:
        themepark:
          app: kitana
          theme: {{ kitana_themepark_theme | default (global_themepark_theme) }}
    themepark-resilio-sync:
      plugin:
        themepark:
          app: resilio-sync
          theme: {{ resilio_sync_themepark_theme | default (global_themepark_theme) }}
    themepark-moviematch:
      plugin:
        themepark:
          app: moviematch
          theme: {{ moviematch_themepark_theme | default (global_themepark_theme) }}
    themepark-petio:
      plugin:
        themepark:
          app: petio
          theme: {{ petio_themepark_theme | default (global_themepark_theme) }}