ansible==10.2.0
ansible-lint==24.7.0
apprise==1.8.1
argon2_cffi==23.1.0
certbot==2.11.0
dnspython==2.6.1
docker==7.1.0
jinja2==3.1.4
jmespath==1.0.1
lxml==5.2.2
ndg-httpsclient==0.5.1
netaddr==1.3.0
passlib==1.7.4
pexpect==4.9.0
PyMySQL==1.1.1
pyOpenSSL==24.2.1
requests==2.32.3
ruamel.yaml==0.18.6
tld==0.13
