ansible==9.5.1
ansible-lint==24.5.0
argon2_cffi==23.1.0
dnspython==2.6.1
docker==7.0.0
jinja2==3.1.4
jmespath==1.0.1
lxml==5.2.2
ndg-httpsclient==0.5.1
netaddr==1.2.1
passlib==1.7.4
PyMySQL==1.1.0
pyOpenSSL==24.1.0
requests==2.31.0
ruamel.yaml==0.18.6
tld==0.13
