#########################################################################
# Title:         Saltbox: Settings | Updater                            #
# Author(s):     desimaniac, l3uddz                                     #
# URL:           https://github.com/saltyorg/Saltbox                    #
# --                                                                    #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################
---
- name: "Updater | Run 'settings-updater.py' for '{{ file }}'"
  ansible.builtin.script: "'roles/settings/files/settings-updater.py' '{{ playbook_dir }}' 'defaults/{{ file }}.default' '{{ file }}'"
  become: true
  become_user: "{{ saltbox_yml.stat.pw_name }}"
  register: settings_updater
  ignore_errors: true
  changed_when: false
  failed_when: (settings_updater.rc == 1)

- name: Updater | Build 'files_updated_successfully' list
  ansible.builtin.set_fact:
    files_updated_successfully: "{{ files_updated_successfully + [file] }}"
  when: (settings_updater.rc == 2)

- name: Updater | Build 'files_updated_unsuccessfully' list
  ansible.builtin.set_fact:
    files_updated_unsuccessfully: "{{ files_updated_unsuccessfully + [file] }}"
  when: (settings_updater.rc == 1)

- name: Updater | Set 'exit_is_necessary' variable
  ansible.builtin.set_fact:
    exit_is_necessary: true
  when: (settings_updater.rc == 2)
