#########################################################################
# Title:         Saltbox: btrfsmaintenance                              #
# Author(s):     owine                                                  #
# URL:           https://github.com/saltyorg/Saltbox                    #
# --                                                                    #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################
---
- name: "Determine '/' filesystem type"
  ansible.builtin.set_fact:
    root_fstype: "{{ item.fstype }}"
  when: (item.mount == '/')
  with_items:
    - "{{ ansible_mounts }}"

- name: "Determine '/opt' filesystem type"
  ansible.builtin.set_fact:
    opt_fstype: "{{ item.fstype }}"
  when: (item.mount == '/opt')
  with_items:
    - "{{ ansible_mounts }}"

- name: "Setup btrfsmaintenance scripts"
  when: ((root_fstype is defined) and (root_fstype == 'btrfs')) or ((opt_fstype is defined) and (opt_fstype == 'btrfs'))
  block:
    - name: "Install apt package"
      ansible.builtin.apt:
        name: "btrfsmaintenance"
        state: present

    - name: "Change mountpoints to 'auto'"
      ansible.builtin.lineinfile:
        path: "/etc/default/btrfsmaintenance"
        regexp: '^{{ item }}\s?='
        line: '{{ item }}="auto"'
        state: present
      loop:
        - BTRFS_TRIM_MOUNTPOINTS
        - BTRFS_BALANCE_MOUNTPOINTS
        - BTRFS_SCRUB_MOUNTPOINTS

    - name: "Change trim schedule to 'weekly'"
      ansible.builtin.lineinfile:
        path: "/etc/default/btrfsmaintenance"
        regexp: '^BTRFS_TRIM_PERIOD="nine"\s?='
        line: 'BTRFS_TRIM_PERIOD="weekly"'
        state: present

# Check for no btrfs and exit - not working
- name: "Exit if no btrfs partitions found"
  ansible.builtin.debug:
    msg: "No btrfs partition found on / or /opt - exiting"
  when: ((root_fstype is defined) and (root_fstype != 'btrfs')) and ((opt_fstype is defined) and (opt_fstype != 'btrfs'))
