##########################################################################
# Title:         Saltbox: Authentik Worker | Default Variables           #
# Author(s):     salty                                                   #
# URL:           https://github.com/saltyorg/Saltbox                     #
# --                                                                     #
##########################################################################
#                   GNU General Public License v3.0                      #
##########################################################################
---
################################
# Basics
################################

authentik_worker_name: authentik-worker

################################
# Docker
################################

# Container
authentik_worker_role_docker_container: "{{ authentik_worker_name }}"

# Image
authentik_worker_role_docker_image_pull: true
authentik_worker_role_docker_image_repo: "ghcr.io/goauthentik/server"
authentik_worker_role_docker_image_tag: "{{ lookup('role_var', '_docker_image_tag', role='authentik') }}"
authentik_worker_role_docker_image: "{{ lookup('role_var', '_docker_image_repo', role='authentik_worker') }}:{{ lookup('role_var', '_docker_image_tag', role='authentik_worker') }}"

# Envs
authentik_worker_role_docker_envs_default: "{{ lookup('role_var', '_docker_envs_default', role='authentik') }}"
authentik_worker_role_docker_envs_custom: {}
authentik_worker_role_docker_envs: "{{ lookup('role_var', '_docker_envs_default', role='authentik_worker')
                                       | combine(lookup('role_var', '_docker_envs_custom', role='authentik_worker')) }}"

# Commands
authentik_worker_role_docker_commands_default:
  - "worker"
authentik_worker_role_docker_commands_custom: []
authentik_worker_role_docker_commands: "{{ lookup('role_var', '_docker_commands_default', role='authentik_worker')
                                           + lookup('role_var', '_docker_commands_custom', role='authentik_worker') }}"

# Volumes
authentik_worker_role_docker_volumes_default:
  - "{{ authentik_role_paths_location }}/media:/media"
  - "{{ authentik_role_paths_location }}/custom-templates:/templates"
  - "{{ authentik_role_paths_location }}/certs:/certs"
  - "/var/run/docker.sock:/var/run/docker.sock"
authentik_worker_role_docker_volumes_custom: []
authentik_worker_role_docker_volumes: "{{ lookup('role_var', '_docker_volumes_default', role='authentik_worker')
                                          + lookup('role_var', '_docker_volumes_custom', role='authentik_worker') }}"

# Hostname
authentik_worker_role_docker_hostname: "{{ authentik_worker_name }}"

# Networks
authentik_worker_role_docker_networks_alias: "{{ authentik_worker_name }}"
authentik_worker_role_docker_networks_default: []
authentik_worker_role_docker_networks_custom: []
authentik_worker_role_docker_networks: "{{ docker_networks_common
                                           + lookup('role_var', '_docker_networks_default', role='authentik_worker')
                                           + lookup('role_var', '_docker_networks_custom', role='authentik_worker') }}"

# Restart Policy
authentik_worker_role_docker_restart_policy: unless-stopped

# State
authentik_worker_role_docker_state: started

# Dependencies
authentik_worker_role_depends_on: "{{ authentik_name }}-redis,{{ lookup('role_var', '_postgres_name', role='authentik') }}"
authentik_worker_role_depends_on_delay: "0"
authentik_worker_role_depends_on_healthchecks: "false"

# User
authentik_worker_role_docker_user: "root"
