global:
  scrape_interval: 15s

scrape_configs:
  - job_name: node
    static_configs:
      - targets: ['172.19.0.1:9100']

  - job_name: cadvisor
    static_configs:
      - targets: ['cadvisor:8080']

{% if lookup('role_var', '_metrics_enabled', role='traefik') %}
  - job_name: traefik
    scheme: https
    metrics_path: /prometheus
    basic_auth:
        username: '{{ user.name }}'
        password: '{{ user.pass }}'
    static_configs:
      - targets: ['{{ lookup('role_var', '_metrics_subdomain', role='traefik') }}.{{ lookup('role_var', '_metrics_domain', role='traefik') }}']
{% endif %}
