name: Ansible Lint

on:
  push:
    paths-ignore:
      - '.github/**'
      - '*.md'
      - '*.sh'
      - '*.j2'
      - '*.conf'
      - '*.py'
      - '*.json'
      - '*.ini'
      - '.gitignore'
  pull_request:
    paths-ignore:
      - '*.md'
      - '*.sh'
      - '*.j2'
      - '*.conf'
      - '*.py'
      - '*.json'
      - '*.ini'
      - '.gitignore'
  workflow_dispatch:

jobs:
  ansible-lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Lint Ansible Playbook
      uses: ansible/ansible-lint-action@main

    - uses: sarisia/actions-status-discord@v1
      if: always()
      with:
        webhook: ${{ secrets.DISCORD_WEBHOOK }}
