name: Add contributors
on:
  schedule:
    - cron: '20 20 * * *'
  workflow_dispatch:

jobs:
  add-contributors:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - uses: BobAnkh/add-contributors@master
        with:
          REPO_NAME: 'saltyorg/Saltbox'
          CONTRIBUTOR: '### Contributors'
          COLUMN_PER_ROW: '6'
          ACCESS_TOKEN: ${{ secrets.GH_TOKEN }}
          IMG_WIDTH: '100'
          FONT_SIZE: '14'
          PATH: '/README.md'
          COMMIT_MESSAGE: 'docs(README): update contributors'
          AVATAR_SHAPE: 'square'
