name: Notify
on:
  workflow_run:
    workflows: ["CI", "CI - Every OS"]
    types:
      - completed

permissions:
  contents: read
  actions: read

jobs:
  notify:
    runs-on: ubuntu-24.04
    if: github.event.repository.fork == false && (github.event.workflow_run.conclusion == 'success' || (github.event.workflow_run.conclusion == 'failure' && github.event.workflow_run.run_attempt >= 3) || github.event.workflow_run.conclusion == 'cancelled')
    steps:
      - uses: actions/checkout@v6

      - name: Send notification
        env:
          GITHUB_TOKEN: ${{ github.token }}
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
          WORKFLOW_RUN_ID: ${{ github.event.workflow_run.id }}
        run: python .github/scripts/notify.py
