name: CI

on:
  push:
    paths-ignore:
      - '.github/**'
      - '*.md'
      - '.gitignore'
      - 'roles/backup/**'
      - 'roles/backup2/**'
      - 'roles/restore/**'
      - 'roles/settings/**'
      - 'roles/nvidia/**'
      - 'roles/plex_extra_tasks/**'
      - 'roles/plex_auth_token/**'
      - 'roles/plex_db/**'
      - 'roles/arr_db/**'
      - 'roles/diag/**'
    branches-ignore:
      - 'dependabot/**'
  pull_request:
    paths-ignore:
      - '.github/**'
      - '*.md'
      - '.gitignore'
      - 'roles/backup/**'
      - 'roles/backup2/**'
      - 'roles/restore/**'
      - 'roles/settings/**'
      - 'roles/nvidia/**'
      - 'roles/plex_extra_tasks/**'
      - 'roles/plex_auth_token/**'
      - 'roles/plex_db/**'
      - 'roles/arr_db/**'
      - 'roles/diag/**'
  workflow_dispatch:

jobs:
  ansible-lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'
          cache-dependency-path: 'requirements/requirements-lint.txt'

      - name: Install packages
        run: pip install -r ./requirements/requirements-lint.txt

      - name: Run ansible linter
        working-directory: ${{ github.workspace }}
        run: ansible-lint

  find-roles:
    runs-on: ubuntu-24.04
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v4
      - id: set-matrix
        run: echo "matrix={\"roles\":[$(awk '/# Core/{flag=1;next}/# Apps End/{flag=0}flag' saltbox.yml | awk '!/#/' | awk -F'[][]' '{print $2}' | tr '\n' ',' | sed 's/,*$//' | awk -F',' '{ for( i=1; i<=NF; i++ ) print $i }' | awk '{ gsub(/ /,""); print }'| sort -u | awk -vORS=, '{ print $1 }' | sed 's/,$/\n/' | sed "s/.\(roles\|common\|hetzner\|kernel\|motd\|mounts\|nvidia\|nvidia-purge\|preinstall\|rclone\|scripts\|shell\|system\|traefik\|traefik-reset-certs\|user\|cloudflare\|plex-db\|arr-db\|ddns\|cloudplow\|cloudplow-reset\|btrfsmaintenance\|download-clients\|download-indexers\|media-server\|python\|yyq\|crowdsec\).,//g")]}" >> $GITHUB_OUTPUT

  install:
    name: '${{ matrix.roles }}'
    runs-on: ubuntu-24.04
    needs: [ansible-lint, find-roles]
    strategy:
      matrix: ${{ fromJson(needs.find-roles.outputs.matrix) }}
      fail-fast: false
    steps:
      - uses: actions/checkout@v4

      - name: Create Directories
        run: sudo mkdir -p /srv/ansible /srv/git/sb

      - name: Copy requirements.txt
        run: sudo cp ./requirements/requirements-saltbox.txt /srv/git/sb/requirements-saltbox.txt

      - name: Chown /srv/git
        run: sudo chown -R runner:runner /srv/git

      - name: Tune GitHub-hosted runner network
        run: sudo ethtool -K eth0 tx off rx off

      - name: Print pip dependencies
        run: cat /srv/git/sb/requirements-saltbox.txt

      - name: Install Dependencies
        run: curl https://raw.githubusercontent.com/saltyorg/sb/master/sb_dep.sh --output sb_dep.sh && sudo bash sb_dep.sh -v && /srv/ansible/venv/bin/ansible --version

      - name: Symlink cloned repository to /srv/git/saltbox
        run: sudo ln -s $GITHUB_WORKSPACE /srv/git/saltbox

      - name: Install saltbox.fact
        run: |
          mkdir -p $GITHUB_WORKSPACE/ansible_facts.d
          curl -fsSL https://github.com/saltyorg/ansible-facts/releases/latest/download/saltbox-facts -o $GITHUB_WORKSPACE/ansible_facts.d/saltbox.fact
          chmod +x $GITHUB_WORKSPACE/ansible_facts.d/saltbox.fact

      - name: Chown /srv/git
        run: sudo chown -R runner:runner /srv/git

      - name: Import default configuration
        run: for i in defaults/*; do cp -n $i "$(basename "${i%.*}")"; done

      - name: Edit accounts.yml
        run: sed -i 's/seed/runner/g' accounts.yml

      - name: Run Tree on Saltbox repository
        run: tree -a

      - name: Syntax Check
        run: sudo /srv/ansible/venv/bin/ansible-playbook saltbox.yml --syntax-check

      - name: Create basic vars file
        run: |
          echo "continuous_integration: true" > vars.yml

      - name: Add Docker Hub info to vars file
        if: github.repository == 'saltyorg/Saltbox' && github.event_name != 'pull_request'
        run: |
          echo "dockerhub:" >> vars.yml
          echo "  token: ${{ secrets.DOCKERHUB_TOKEN }}" >> vars.yml
          echo "  user: ${{ secrets.DOCKERHUB_USERNAME }}" >> vars.yml

      - name: Install Saltbox Core
        run: sudo /srv/ansible/venv/bin/ansible-playbook saltbox.yml --tags "core" --skip-tags "settings" --extra-vars "@vars.yml"
        if: ${{ !(contains(matrix.roles, 'saltbox') || contains(matrix.roles, 'feederbox') || contains(matrix.roles, 'mediabox') || contains(matrix.roles, 'core')) }}

      - name: Install ${{ matrix.roles }}
        run: sudo /srv/ansible/venv/bin/ansible-playbook saltbox.yml --tags "${{ matrix.roles }}" --skip-tags "settings" --extra-vars "@vars.yml"
