####################################################################################
# Title:         Saltbox: qBittorrent | Post-Install | Settings                    #
# Author(s):     salty                                                             #
# URL:           https://github.com/saltyorg/Saltbox                               #
# --                                                                               #
####################################################################################
#                   GNU General Public License v3.0                                #
####################################################################################
---
- name: Post-Install | Settings | Update 'qBittorrent.conf' config settings
  ini_file:
    path: "{{ qbittorrent_paths_conf }}"
    section: BitTorrent
    option: Session\Port
    value: "{{ qbittorrent_docker_ports_56881 }}"
    no_extra_spaces: true
    state: present
    owner: "{{ user.name }}"
    group: "{{ user.name }}"
    mode: "0775"
